{% extends 'base.html' %}

{% block content %}
<h1 class="text-center" style="margin-bottom: 50px">Rejestracja</h1>
<form action="{% url 'zarejestruj' %}" method="POST" class="form-horizontal center" style="width: 600px">
    {% csrf_token %}
    <div>
        <div>
            <input type="text" name="uzytkownik" required="required">
        </div>
    </div>
    <div>
        <div>
            <input type="password" name="haslo" required="required">
        </div>
    </div>
    <div>
        <div>
            <button type="submit" class="btn">Zarejestruj</button>
        </div>
    </div>
</form>
{% endblock %}