{% extends "base.html" %}

{% block content %}

<form action="{% url 'blog:dodaj' %}" method="POST" xmlns="http://www.w3.org/1999/html">
    <input required="required" type="text" name="tytul"></br>
    <textarea required="required" rows="5" name="tekst"></textarea></br>
    <input required="required" type="text" name="autor"></br>
    <button id="add" type="submit" class="btn">Dodaj</button>
</form>
{% endblock %}