{% extends "base.html" %}

{% block content %}
    <a href="{% url 'blog:dodaj' %}">Dodaj post</a>
    <h3>Posty</h3>
    {% for post in posty %}
        <div class="post">
        <h3>{{ post.tytul }}</h3>
        <blockquote>
        <p>{{ post.tekst }}</p>
        <small>{{ post.data }}<br/>
        {{ post.autor }}<br/>
        </small>
        </blockquote>
        </div>
    {% endfor %}
{% endblock %}